@use "../base/root" as *;

%button_styles{
    width: 300px;
    height: 60px;
    border: none;
    background-color: $secondary_color;
    color: $primary_color;
    font-size: $font_lg;
    letter-spacing: $letter_spac;
    font-family: $titles_font;
    text-transform: uppercase;
    cursor: $clicking_cursor;
    &:hover {background-color: $accent_color;}
    &:active {background-color: $primary_color; color: $secondary_color; border: 1px solid $accent_color;}
}


%section_size_prop {
    width: 100%;
}

%no_padd_block {
    width: 100%;
    height: $no_padd_block_height;
    margin-bottom: $main_vertical_distance;
    margin-top: $main_vertical_distance;
}


%padd_block {
    width: 100%;
    padding: $main_vertical_distance $main_horiz_distance;
}


%header_link_styles {
    font-family: $descript_font;
    font-size: $font_sm;
    color: $primary_color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    cursor: $clicking_cursor;
    &:hover {
        text-decoration: underline;
    }
    &:active {
        text-decoration: underline;
        color: $descript_font_color;
    }
}




