@use "../base/root" as *;

%button_styles{
    width: 300px;
    height: 60px;
    border: none;
    background-color: $secondary_color;
    color: $primary_color;
    font-size: $font_lg;
    letter-spacing: $letter_spac;
    font-family: $titles_font;
    text-transform: uppercase;
    cursor: $clicking_cursor;
}

%button_styles_mob{
    width: 300px;
    height: 60px;
    border: none;
    background-color: $secondary_color;
    color: $primary_color;
    font-size: $font_lg_mob;
    letter-spacing: $letter_spac;
    font-family: $titles_font;
    text-transform: uppercase;
    cursor: $clicking_cursor;
}

%section_size_prop {
    width: 100%;
    min-height: 100vh;
}

%no_padd_block {
    width: 100%;
    height: $no_padd_block_height;
    margin-bottom: $main_vertical_distance;
}

%padd_block {
    width: 100%;
    padding: $main_vertical_distance $main_horiz_distance;
}

%bg_styles {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


%header_link_styles {
    font-family: $descript_font;
    font-size: $font_sm;
    color: $primary_color;
    text-decoration: none;
    text-transform: uppercase;
    cursor: $clicking_cursor;
    &:hover {
        text-decoration: underline;
    }
    &:active {
        text-decoration: underline;
        color: $descript_font_color;
    }
}




