* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

.site_wrapper {
  height: 100vh;
  width: 100%;
  font-family: "Romanovsky W08 Regular";
  max-width: 1440px;
  min-width: 300px;
  margin: 0 auto;
  background-color: #ffffff;
}

.usage_section_moment_button, .discovery_section_gifts_button, .discovery_set_button, .hero_section_block_content_bottom .hero_popover_set_button {
  width: 300px;
  height: 60px;
  border: none;
  background-color: #4d4a99;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 0.06em;
  font-family: "Romanovsky W08 Regular";
  text-transform: uppercase;
  cursor: pointer;
}
.usage_section_moment_button:hover, .discovery_section_gifts_button:hover, .discovery_set_button:hover, .hero_section_block_content_bottom .hero_popover_set_button:hover {
  background-color: #bbb0ce;
}
.usage_section_moment_button:active, .discovery_section_gifts_button:active, .discovery_set_button:active, .hero_section_block_content_bottom .hero_popover_set_button:active {
  background-color: #ffffff;
  color: #4d4a99;
  border: 1px solid #bbb0ce;
}

#contacts, #shipping, #reviews, #usage, #set, #scents, #about {
  width: 100%;
}

.reviews_section_gallery, .discovery_section_gallery, .scents_section_gallery, .about_section_philosophy, .hero_section_block {
  width: 100%;
  height: 560px;
  margin-bottom: 90px;
  margin-top: 90px;
}

.contacts_section, .shipping_section, .reviews_section, .usage_section_moment, .discovery_section_gifts, .discovery_section_set, .scents_section_collection, .about_section_benefits, .about_section_intro {
  width: 100%;
  padding: 90px 130px;
}

.reviews_section_gallery, .about_section_philosophy {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.footer_links_item a, .header_nav_item a {
  font-family: "Raleway";
  font-size: 0.6rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
}
.footer_links_item a:hover, .header_nav_item a:hover {
  text-decoration: underline;
}
.footer_links_item a:active, .header_nav_item a:active {
  text-decoration: underline;
  color: #303030;
}

.popover_nav_menu_button {
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  background: transparent;
  border: none;
}
@media (min-width: 1024px) {
  .popover_nav_menu_button {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .popover_nav_menu_button {
    display: none;
  }
}

.popover_nav_menu {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.popover_nav_menu_content_window {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0px;
}
.popover_nav_menu_content {
  height: 100%;
  width: 50%;
  min-width: 240px;
  background-color: #bbb0ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  padding: 40px 20px;
}
.popover_nav_menu_content_bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.popover_nav_menu_content_bottom_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.popover_nav_menu_content_bottom_links img {
  width: 16px;
  height: 16px;
  background: transparent;
  cursor: pointer;
}
.popover_nav_menu_content_bottom_logo img {
  width: 90px;
}
.popover_nav_menu_close_button {
  background: transparent;
  border: none;
  margin: 20px;
  cursor: pointer;
}
.popover_nav_menu_close_button img {
  width: 13px;
  height: 13px;
}

.header_nav_list_mob {
  min-width: 185px;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0px;
  padding: 0 10px;
}

.header_nav_item_mob a {
  font-family: "Raleway";
  font-size: 1rem;
  color: #4d4a99;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
}
.header_nav_item_mob a:hover {
  text-decoration: underline;
}
.header_nav_item_mob a:active {
  text-decoration: underline;
  color: #303030;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #4d4a99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
@media (min-width: 430px) and (max-width: 768px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 430px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.header_nav_list {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header_nav_list {
    width: 100%;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .header_nav_list {
    display: none;
  }
}
@media (max-width: 430px) {
  .header_nav_list {
    display: none;
  }
}
.hero_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.hero_section_logo img {
  margin: 25px auto;
}

.hero_section_block {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  background: url("../../../../images/Hero/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media (max-width: 430px) {
  .hero_section_block {
    width: 100%;
    max-height: 560px;
    margin-bottom: 80px;
    margin-top: 80px;
    margin-top: 0;
    padding: 15vw 11.5vw;
    background: url("../../../../images/Hero/hero_mob.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .hero_section_block {
    width: 100%;
    max-height: 560px;
    margin-bottom: 80px;
    margin-top: 80px;
    margin-top: 0;
    padding: 15vw 11.5vw;
    background: url("../../../../images/Hero/hero_mob.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}
.hero_section_block_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 430px) {
  .hero_section_block_content {
    gap: 60px;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .hero_section_block_content {
    gap: 60px;
  }
}
.hero_section_block_content_top {
  position: relative;
}
@media (max-width: 430px) {
  .hero_section_block_content_top {
    width: 100%;
    height: 100%;
    padding: 20px 5px 30px 5px;
    border: 1px solid rgba(237, 234, 244, 0.1450980392);
  }
  .hero_section_block_content_top::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 1;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .hero_section_block_content_top {
    width: 100%;
    height: 100%;
    padding: 20px 5px 30px 5px;
    border: 1px solid rgba(237, 234, 244, 0.1450980392);
  }
  .hero_section_block_content_top::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 1;
  }
}
.hero_section_block_content_top .main_headliner_primary {
  z-index: 10;
  position: relative;
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 430px) {
  .hero_section_block_content_top .main_headliner_primary {
    font-size: 1.4rem;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .hero_section_block_content_top .main_headliner_primary {
    font-size: clamp(1.4rem, 6vw, 2rem);
  }
}
.hero_section_block_content_top .main_headliner_secondary {
  z-index: 10;
  position: relative;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}
@media (max-width: 430px) {
  .hero_section_block_content_top .main_headliner_secondary {
    font-size: 0.8rem;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .hero_section_block_content_top .main_headliner_secondary {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }
}
.hero_section_block_content_bottom_text {
  position: relative;
  z-index: 10;
  text-align: center;
  width: 300px;
  border: 1px solid rgba(237, 234, 244, 0.1450980392);
  color: #ffffff;
  font-size: 16px;
  line-height: 140%;
  font-family: "Raleway";
  font-weight: 200;
}
@media (max-width: 430px) {
  .hero_section_block_content_bottom_text {
    font-size: 0.7rem;
  }
  .hero_section_block_content_bottom_text::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: -1;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .hero_section_block_content_bottom_text {
    font-size: 0.8rem;
  }
  .hero_section_block_content_bottom_text::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: -1;
  }
}
.hero_section_block_content_bottom .hero_popover_set_button {
  margin-bottom: 16px;
}

.about_section_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.about_section_intro_headliner_top {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #4d4a99;
  text-align: start;
  margin-bottom: 20px;
}
.about_section_intro_headliner_bottom {
  color: #4d4a99;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
}
.about_section_intro_content_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 20px;
}
.about_section_intro_content_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  text-align: end;
}
.about_section_intro_content_item p {
  color: #303030;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
}
.about_section_intro_content_item1 {
  width: 300px;
}
.about_section_intro_content_item2 {
  width: 220px;
}

.about_section_philosophy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  background: url("../../../../images/About/item3.png");
}

.philosophy_content_box {
  width: 40%;
  max-width: calc(100% - 30px);
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.philosophy_content_box_headliner {
  border: 1px solid #ffffff;
  background-color: #bbb0ce;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.philosophy_content_box_headliner h3 {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 140%;
  font-weight: 500;
}
.philosophy_content_box_text {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid rgba(237, 234, 244, 0.25);
  width: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  overflow: hidden;
}
.philosophy_content_box_text .logo {
  width: 105px;
  height: 25px;
  z-index: 10;
}
.philosophy_content_box_text .line {
  z-index: 10;
}
.philosophy_content_box_text p {
  color: #ffffff;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 200;
  z-index: 10;
}

.philosophy_content_box_text::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.about_section_benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.about_section_benefits_headliner h1 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #4d4a99;
}
.about_section_benefits_content {
  width: 100%;
}
.about_section_benefits_content_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
}
.about_section_benefits_content_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.about_section_benefits_content_item img {
  width: 60px;
  height: 60px;
}
.about_section_benefits_content_item h4 {
  color: #4d4a99;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}

.about_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.scents_section_collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.scents_section_collection_headliner_top {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #4d4a99;
  margin-bottom: 10px;
}
.scents_section_collection_headliner_bottom {
  color: #4d4a99;
  font-size: 1.2rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}
.scents_section_collection_content_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 20px;
}
.scents_section_collection_content_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.scents_section_collection_content_item img {
  height: 400px;
  margin-bottom: 40px;
}
.scents_section_collection_content_item h4 {
  color: #4d4a99;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
.scents_section_collection_content_item p {
  color: #4d4a99;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
  text-align: center;
}

.scents_section_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.scents_section_gallery_top_list, .scents_section_gallery_bottom_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.scents_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.discovery_section_set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.discovery_section_set_headliner_top {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #4d4a99;
  margin-bottom: 10px;
}
.discovery_section_set_headliner_bottom {
  color: #4d4a99;
  font-size: 1.2rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}
.discovery_section_set_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.discovery_section_set_item_top h4, .discovery_section_set_item_bottom h4 {
  color: #ffffff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  padding: 6px 10px;
  background-color: #bbb0ce;
  margin-bottom: 20px;
  display: inline-block;
}

.discovery_section_set_item_top {
  width: 100%;
}
.discovery_section_set_item_top img {
  height: 300px;
}

.discovery_section_set_item_bottom_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}
.discovery_section_set_item_bottom_wrap img {
  height: 300px;
}

.discovery_section_gifts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.discovery_section_gifts_headliner_top {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #4d4a99;
  margin-bottom: 10px;
}
.discovery_section_gifts_headliner_bottom {
  color: #4d4a99;
  font-size: 1.2rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}
.discovery_section_gifts_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 20px;
}
.discovery_section_gifts_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.discovery_section_gifts_item img {
  height: 400px;
  margin-bottom: 40px;
}
.discovery_section_gifts_item h4 {
  color: #4d4a99;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
.discovery_section_gifts_item p {
  color: #4d4a99;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
  text-align: center;
}
.discovery_section_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.discovery_section_gallery_item_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.popover_set_window {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid black;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.popover_set {
  min-width: 60%;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.popover_set h1 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  z-index: 10;
}

.popover_set::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 5;
  background-color: rgba 0, 0, 0, 0.15;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.popover_set_window_close {
  z-index: 10;
}
.popover_set_window_close button {
  position: absolute;
  top: -20px;
  right: -60px;
  background: transparent;
  border: none;
  margin: 20px;
  cursor: pointer;
}

.popover_set_step {
  color: #4d4a99;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.popover_set_top {
  width: 100%;
  padding: 16px 20px;
  background-color: #ffffff;
  z-index: 10;
}

.form_radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.form_radio label {
  margin-left: 8px;
  color: #4d4a99;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
}
.form_radio input {
  accent-color: #4d4a99;
  cursor: pointer;
}
.form_radio_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.popover_set_middle {
  width: 100%;
  padding: 16px 20px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  z-index: 10;
}
.popover_set_middle_list {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.popover_set_middle_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.popover_set_middle_item p {
  color: #4d4a99;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
  text-align: center;
  white-space: nowrap;
}
.popover_set_middle_item img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.products_amount {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.products_amount_part {
  min-width: 16px;
  height: 16px;
  border: 1px solid #edeaf4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  color: #4d4a99;
  font-size: 0.6rem;
  font-family: "Raleway";
  line-height: 140%;
  text-align: center;
}
.products_amount .more_less {
  cursor: pointer;
}

.popover_set_bottom_wrap {
  width: 100%;
  padding: 25px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 25px;
  background-color: #ffffff;
}

.popover_set_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 40px;
}
.popover_set_bottom h3 {
  color: #4d4a99;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
}
.popover_set_bottom h4 {
  color: #4d4a99;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
  margin-bottom: 10px;
}
.popover_set_bottom p {
  color: #4d4a99;
  font-size: 0.6rem;
  font-family: "Raleway";
  line-height: 140%;
}

.popover_set_bottom_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  margin: 0 auto;
}
.popover_set_bottom_link a {
  color: #4d4a99;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
}

.two_set, .three_set, .four_set {
  display: none;
}

.popover_set:has(#two:checked) .two_set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popover_set:has(#three:checked) .three_set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popover_set:has(#four:checked) .four_set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discovery_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.usage_section_moment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.usage_section_moment_headliner_top {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #4d4a99;
  margin-bottom: 10px;
}
.usage_section_moment_headliner_bottom {
  color: #4d4a99;
  font-size: 1.2rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}
.usage_section_moment_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}
.usage_section_moment_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.usage_section_moment_item img {
  height: 250px;
}
.usage_section_moment_item h4 {
  color: #4d4a99;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
.moment_item1 {
  grid-area: 1/1/2/2;
  margin-bottom: 20px;
}

.moment_item2 {
  grid-area: 1/2/2/3;
  margin-bottom: 20px;
}

.moment_item3 {
  grid-area: 2/1/3/2;
}

.moment_item4 {
  grid-area: 2/2/3/3;
}

.usage_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.reviews_section_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.reviews_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  min-height: 560px;
}
.reviews_section_headliner_top {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #4d4a99;
}
.reviews_section_content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 140px;
}
.reviews_section_list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
}
.reviews_section_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
  width: calc(50% - 20px);
  opacity: 1;
  position: absolute;
  height: 140px;
}
.reviews_section_item img {
  width: 60px;
  height: 60px;
}
.reviews_section_item_info {
  height: 100%;
  background-color: #bbb0ce;
  padding: 10px 20px;
}
.reviews_section_item_info .comment_name {
  color: #4d4a99;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  margin-bottom: 10px;
}
.reviews_section_item_info .comment_text {
  color: #4d4a99;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
}

.reviews_section_content:hover .comment1 {
  -webkit-animation: vanish 4s linear 2s forwards;
          animation: vanish 4s linear 2s forwards;
}

.reviews_section_content:hover .comment2 {
  -webkit-animation: vanish 4s linear 2s forwards;
          animation: vanish 4s linear 2s forwards;
}

.reviews_section_content:hover .comment3 {
  -webkit-animation: vanish 4s linear 8s forwards;
          animation: vanish 4s linear 8s forwards;
}

.reviews_section_content:hover .comment4 {
  -webkit-animation: vanish 4s linear 8s forwards;
          animation: vanish 4s linear 8s forwards;
}

.comment1 {
  top: 0;
  left: 0;
  z-index: 10;
}

.comment2 {
  top: 0;
  right: 0;
  z-index: 10;
}

.comment3 {
  top: 0;
  left: 0;
  z-index: 5;
}

.comment4 {
  top: 0;
  right: 0;
  z-index: 5;
}

.comment5 {
  top: 0;
  left: 0;
  z-index: 1;
}

.comment6 {
  top: 0;
  right: 0;
  z-index: 1;
}

.slider_arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  cursor: pointer;
}

@-webkit-keyframes vanish {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.reviews_section_gallery {
  background: url("../../../../images/Gallery3/1.png");
}

.discovery_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.shipping_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.shipping_section_headliner_top {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #4d4a99;
  margin-bottom: 10px;
}
.shipping_section_headliner_bottom {
  color: #4d4a99;
  font-size: 1.2rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}
.shipping_section_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 620px;
}
.shipping_section_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
}
.shipping_section_item h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #4d4a99;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
  background-color: #bbb0ce;
  padding: 16px 20px;
}

.shipping_section_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.contacts_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.contacts_section_headliner_top {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #4d4a99;
}
.contacts_section_content {
  width: 100%;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.contacts_section_content_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contacts_section_content_info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.contacts_section_content_info_list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 16px;
}

.contacts_section_content_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.contacts_section_content_info_item h4 {
  color: #4d4a99;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
}

.contacts_section_info_map a {
  display: block;
  color: #4d4a99;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
  margin-bottom: 10px;
  text-align: right;
}

.contacts_section_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.main {
  width: 100%;
}

.footer {
  width: 100%;
  min-height: 200px;
  margin-top: 90px;
  background-color: #4d4a99;
}
.footer_wrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 55px;
  padding: 3.75vw 10.8vw 1vw 10.8vw;
}
.footer_wrap .footer_div1 {
  grid-area: 1/1/2/4;
}
.footer_wrap .footer_div2 {
  grid-area: 1/4/2/5;
}
.footer_wrap .footer_div3 {
  grid-area: 2/1/3/5;
}
.footer_wrap .footer_div4 {
  grid-area: 3/1/4/5;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer_wrap {
    padding: 3.75vw 8vw 1vw 8vw;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .footer_wrap {
    padding: 10vw 8vw 4vw 8vw;
  }
}
@media (max-width: 430px) {
  .footer_wrap {
    padding: 19.4vw 11.7vw 9vw 11.7vw;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .footer_wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .footer_wrap .footer_div1 {
    grid-area: 1/1/2/2;
  }
  .footer_wrap .footer_div2 {
    grid-area: 3/1/4/2;
  }
  .footer_wrap .footer_div3 {
    grid-area: 2/1/3/2;
  }
  .footer_wrap .footer_div4 {
    grid-area: 4/1/5/2;
  }
}
@media (max-width: 430px) {
  .footer_wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .footer_wrap .footer_div1 {
    grid-area: 1/1/2/2;
  }
  .footer_wrap .footer_div2 {
    grid-area: 3/1/4/2;
  }
  .footer_wrap .footer_div3 {
    grid-area: 2/1/3/2;
  }
  .footer_wrap .footer_div4 {
    grid-area: 4/1/5/2;
  }
}

.footer_links_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  margin-bottom: 60px;
}
@media (min-width: 430px) and (max-width: 768px) {
  .footer_links_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 25px;
  }
}
@media (max-width: 430px) {
  .footer_links_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 25px;
  }
}

.footer_links_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 25px;
}
@media (min-width: 430px) and (max-width: 768px) {
  .footer_links_item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer_links_item a {
  white-space: nowrap;
}

.footer_blocks_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  margin-bottom: 60px;
}
@media (min-width: 430px) and (max-width: 768px) {
  .footer_blocks_list {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
@media (max-width: 430px) {
  .footer_blocks_list {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 40px;
  }
}

.footer_blocks_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
}
.subscription_label {
  color: #ffffff;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
  white-space: nowrap;
  font-weight: 300;
}
.subscription_input_wrap {
  height: 40px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.subscription_input_wrap p {
  margin-left: 20px;
  color: #4d4a99;
  font-size: 0.6rem;
  font-family: "Raleway";
  line-height: 140%;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .subscription_input_wrap p {
    margin: 5px;
  }
}
.subscription_input_wrap input {
  outline: none;
  border: none;
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  color: #4d4a99;
  font-size: 0.6rem;
  font-family: "Raleway";
  line-height: 140%;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .subscription_input_wrap input {
    padding: 5px 2px;
  }
}
.subscription_input_wrap button {
  height: 100%;
  width: 40px;
  border: none;
  cursor: pointer;
}

.footer_bottom_links {
  height: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (min-width: 430px) and (max-width: 768px) {
  .footer_bottom_links {
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 430px) {
  .footer_bottom_links {
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
.footer_bottom_links a {
  color: #ffffff;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
}
.footer_bottom_links a:hover {
  text-decoration: none;
}
.footer_bottom_links a:active {
  text-decoration: none;
  color: #303030;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer_empty_block {
    display: none;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .footer_empty_block {
    display: none;
  }
}
@media (max-width: 430px) {
  .footer_empty_block {
    display: none;
  }
}

@media (min-width: 430px) and (max-width: 768px) {
  .footer_logo_wrap img {
    display: block;
    margin: 0 auto 20px auto;
  }
}
@media (max-width: 430px) {
  .footer_logo_wrap img {
    display: block;
    margin: 0 auto 20px auto;
  }
}

.footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.footer_bottom p {
  color: #ffffff;
  font-size: 0.7rem;
  font-family: "Raleway";
  line-height: 140%;
  font-weight: 300;
}

.scroll_up_wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  opacity: 0.1;
}
.scroll_up_wrap img {
  width: 60px;
  height: 60px;
}
.scroll_up_wrap:hover {
  opacity: 0.3;
}