* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.site_wrapper {
  height: 100vh;
  width: 100%;
  font-family: "Romanovsky W08 Regular";
}

.header_nav_item a {
  font-family: "Raleway";
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header_nav_item a:hover {
  text-decoration: underline;
}
.header_nav_item a:active {
  text-decoration: underline;
  color: #303030;
}

.popover_nav_menu_button {
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  background: transparent;
  border: none;
}
@media (min-width: 430px) and (max-width: 768px) {
  .popover_nav_menu_button {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .popover_nav_menu_button {
    display: none;
  }
}

.popover_nav_menu {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.popover_nav_menu_content_window {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0px;
}
.popover_nav_menu_content {
  height: 100%;
  width: 50%;
  min-width: 240px;
  background-color: #bbb0ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  padding: 40px 20px;
}
.popover_nav_menu_content_bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.popover_nav_menu_content_bottom_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.popover_nav_menu_content_bottom_links img {
  width: 16px;
  height: 16px;
  background: transparent;
}
.popover_nav_menu_content_bottom_logo img {
  width: 90px;
}
.popover_nav_menu_close_button {
  background: transparent;
  border: none;
  margin: 20px;
  cursor: pointer;
}
.popover_nav_menu_close_button img {
  width: 13px;
  height: 13px;
}

.header_nav_list_mob {
  min-width: 185px;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0px;
  padding: 0 10px;
}

.header_nav_item_mob a {
  font-family: "Raleway";
  font-size: 20px;
  color: #4d4a99;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
}
.header_nav_item_mob a:hover {
  text-decoration: underline;
}
.header_nav_item_mob a:active {
  text-decoration: underline;
  color: #303030;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #4d4a99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
@media (min-width: 320px) and (max-width: 430px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.header_nav_list {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media (min-width: 320px) and (max-width: 430px) {
  .header_nav_list {
    display: none;
  }
}