@forward "scents_collection";
@forward "scents_gallery";

@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;



#scents {
    @extend %section_size_prop;
    &:target {animation: showup 3s ease;}
}
.scents_section {
    @include mix.flex($direction:column);
}