@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;

.scents_section_collection {
    @extend %padd_block;
    @include mix.flex($direction:column, $gap: 80px, $justify:space-between);
    &_headliner_top {
        @include mix.section_head;
        margin-bottom: 10px;
    }
    &_headliner_bottom {
        @include mix.product_name($size:$font_xl);
        text-align: center;
    }
    &_content_list {
        @include mix.flex($align:baseline, $gap:20px);
    }
    &_content_item {
        flex: 1;
        @include mix.flex($direction:column);
        img {height: 400px; margin-bottom: 40px;}
        h4 {@include mix.product_name(); text-align: center; margin-bottom: 8px;}
        p {@include mix.body_font(); text-align: center;}
    }
}