@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;

.scents_section_collection {
    @extend %padd_block;
    @include mix.flex($direction:column, $gap:$pad_2xl, $justify:space-between);
    @include media.mob_horiz{padding: $main_vertical_distance_mob 45px;}
    @include media.mob_vertical{padding: $main_vertical_distance_mob $main_horiz_distance_mob;}
    &_headliner_top {
        margin-bottom: $pad_xs;
        @include mix.section_head;
        @include media.mob_horiz{font-size: clamp($font_xxl_mob, 5vw, 1.8rem);}
        @include media.mob_vertical{font-size: $font_xxl_mob;}

    }
    &_headliner_bottom {
        @include mix.product_name($size:$font_xl);
        text-align: center;
        @include media.mob_horiz{font-size: clamp($font_xl_mob, 3.3vw, $font_xl);}
        @include media.mob_vertical{font-size: $font_xl_mob;}
    }
    &_content_list {
        @include mix.flex($justify: space-evenly, $align:baseline, $gap:$pad_sm);
        @include media.tablet{flex-wrap: wrap; gap: $pad_lg;}
        @include media.mob_horiz{flex-wrap: wrap; gap:$pad_lg;}
        @include media.mob_vertical{flex-wrap: wrap; gap: $pad_2xl;}
    }
    &_content_item {
        @include mix.flex($direction:column);
        flex-basis: 90%;
        @include media.tablet{flex-basis: 35%;}
        @include media.mob_horiz{flex-basis: 35%;}
        img {
            height: 400px; 
            margin-bottom: $pad_lg;
            @include media.mob_horiz {margin-bottom: $pad_sm;}
            }
        h4 {
            @include mix.product_name(); 
            text-align: center; 
            margin-bottom: 8px;
            @include media.mob_horiz{font-size: $font_xl_mob;}
            @include media.mob_vertical{font-size: $font_lg_mob;}
        }
        p {@include mix.body_font(); text-align: center;}
    }
}