@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;

.reviews_section_wrap {
    @include mix.flex($direction:column);
}

.reviews_section {
    @extend %padd_block;
    min-height: 560px;
    @include mix.flex($direction:column, $gap: 80px, $justify:space-between);
    @include media.mob_horiz{padding: 80px 45px;}
    @include media.mob_vertical{padding: 80px 35px;}
    &_headliner_top {
        @include mix.section_head;
        @include media.mob_horiz{font-size: clamp($font_xxl_mob, 5vw, 1.8rem);}
        @include media.mob_vertical{font-size: $font_xxl_mob;}
    }
    &_list {
        @include mix.flex($gap:20px);
        width: 100%;
        min-height: 200px;
        position: relative;
        @include media.tablet {flex-direction: column; width: 80%; min-height: 320px;}
        @include media.mob_horiz {flex-direction: column; width: 100%; min-height: 330px;}
        @include media.mob_vertical {flex-direction: column; width: 100%; min-height: 520px;}
    }
    &_item {
        @include mix.flex($justify:space-between, $align:start, $gap:20px);
        width: calc(50% - 20px);
        opacity: 1;
        position: absolute;
        height: 160px;
        @include media.tablet {width: 100%; height: 150px;}
        @include media.mob_horiz {width: 100%; height: 150px;}
        @include media.mob_vertical {width: 100%; height: 250px;}
        img {width: 60px; height: 60px;}
        &_info {
            height: 100%;
            background-color: $accent_color;
            padding: 16px 20px;
            media.mob_vertical {padding: 8px 10px;}
            .comment_name {
                @include mix.product_name; 
                margin-bottom: 10px;
                @include media.mob_horiz {font-size: $font_lg_mob;}
                @include media.mob_vertical {font-size: $font_lg_mob;}
            }
            .comment_text {
                @include mix.body_font;
                @include media.mob_horiz{font-size: clamp($font_sm, 2.5vw, $font_md);}
                @include media.mob_vertical{font-size: clamp($font_sm, 4vw, $font_lg_mob);}
            }
        }
    }
}


.reviews_section:hover .comment1 {animation: vanish 4s linear 2s forwards; z-index: 10;}
.reviews_section:hover .comment2 {animation: vanish 4s linear 2s forwards; z-index: 10;}
.reviews_section:hover .comment3 {animation: vanish 4s linear 8s forwards; z-index: 5;}
.reviews_section:hover .comment4 {animation: vanish 4s linear 8s forwards; z-index: 5;}


.comment1, .comment2 {z-index: 10;}
.comment3, .comment4 {z-index: 5;}
.comment5, .comment6 {z-index: 1;}

.comment1, .comment3, .comment5 {top:0; left:0;}
.comment2, .comment4, .comment6 {
    @include media.laptop{top:0; right:0;}
    @include media.tablet {bottom:0; left:0;}
    @include media.mob_horiz {bottom:0; left:0;}
    @include media.mob_vertical {bottom:0; left:0;}
}



.slider_arrows {
    @include mix.flex($justify:space-between, $gap: 20px);
    cursor: $clicking_cursor;
}


