@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;


.reviews_section_gallery {
    @extend %no_padd_block;
    background: url("../../../../images/Gallery3/1.png");
    @extend %bg_styles;
}