@forward "usage_moment";

@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;


#usage{
    @extend %section_size_prop;
    &:target {animation: showup 3s ease 0.6s;}
}
.usage_section {
    @include mix.flex($direction:column);
}
