@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;

.usage_section_moment {
    @extend %padd_block;
    @include mix.flex($direction:column, $gap: $pad_2xl, $justify:space-between);
    @include media.mob_vertical{padding: $main_vertical_distance_mob $main_horiz_distance_mob;}
    &_headliner_top {
        margin-bottom: $pad_xs;
        @include mix.section_head;
        @include media.mob_horiz{font-size: clamp($font_xxl_mob, 5vw, 1.8rem);}
        @include media.mob_vertical{font-size: $font_xxl_mob;}
    }
    &_headliner_bottom {
        @include mix.product_name($size:$font_xl);
        text-align: center;
        @include media.laptop {max-width: 50%; margin: 0 auto;}
        @include media.tablet {max-width: 80%; margin: 0 auto;}
        @include media.mob_horiz{font-size: clamp($font_xl_mob, 3.3vw, $font_xl);}
        @include media.mob_vertical{font-size: $font_xl_mob;}
    }
    &_list {
        @include mix.grid();
        align-items: start;
    }
    &_item {
        @include mix.flex($direction:column, $gap: $pad_sm);
        .moment_item_img {
            img {width: 100%;}
        }
        h4 {
            @include mix.product_name; 
            text-align: center; 
            margin-bottom: 8px;
            @include media.mob_horiz{font-size: $font_xl_mob;}
            @include media.mob_vertical{font-size: $font_lg_mob;}
        }
    }
    &_button {@extend %button_styles;}
}

.moment_item1 {grid-area: 1/1/2/2; margin-bottom: $pad_sm;}
.moment_item2 {grid-area: 1/2/2/3; margin-bottom: $pad_sm;}
.moment_item3 {grid-area: 2/1/3/2;}
.moment_item4 {grid-area: 2/2/3/3;}