@use "../../base/index" as *;
@use "../../mixins/index" as mix;
@use "../../placeholders/index" as place;
@use "../../media/index" as media;

.footer {
    &_wrap {
        @include media.tablet {padding: 3.75vw 8vw 1vw 8vw;}
        @include media.mob_vertical {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            .footer_div1 {grid-area: 1/1/2/2};
            .footer_div2 {grid-area: 3/1/4/2};
            .footer_div3 {grid-area: 2/1/3/2};
            .footer_div4 {grid-area: 4/1/5/2};
            }
    }
    &_links_list {
        
    }
}




.footer_empty_block {
    @include media.tablet {display: none;}
    @include media.mob_horiz {display: none;}
}

.subscription input{@include media.tablet {padding: 5px 2px;}}