@forward "footer_media";

@use "../../base/index" as *;
@use "../../mixins/index" as mix;
@use "../../placeholders/index" as place;
@use "../../media/index" as media;

.footer {
    width: 100%;
    min-height: 200px;
    margin-top: $main_vertical_distance;
    background-color: $secondary_color;
    &_wrap {
        padding: 3.75vw 10.8vw 1vw 10.8vw;
        @include media.tablet {padding: 3.75vw 8vw 1vw 8vw;}
        @include media.mob_horiz {padding: 10vw 8vw 4vw 8vw;}
        @include media.mob_vertical {padding: 19.4vw 11.7vw 9vw 11.7vw;}
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 55px;
        .footer_div1 {grid-area: 1/1/2/4;}
        .footer_div2 {grid-area: 1/4/2/5;}
        .footer_div3 {grid-area: 2/1/3/5;}
        .footer_div4 {grid-area: 3/1/4/5;}
        @include media.mob_horiz {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            .footer_div1 {grid-area: 1/1/2/2};
            .footer_div2 {grid-area: 3/1/4/2};
            .footer_div3 {grid-area: 2/1/3/2};
            .footer_div4 {grid-area: 4/1/5/2};
        }
        @include media.mob_vertical {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            .footer_div1 {grid-area: 1/1/2/2};
            .footer_div2 {grid-area: 3/1/4/2};
            .footer_div3 {grid-area: 2/1/3/2};
            .footer_div4 {grid-area: 4/1/5/2};
        }
    }
}



.footer_links_list {
    @include mix.flex($justify:space-between);
    margin-bottom: 60px;
    @include media.mob_horiz {@include mix.flex($align: start, $gap: 25px);}
    @include media.mob_vertical {@include mix.flex($direction: column, $align: start, $gap: 25px);}
}
.footer_links_item{
    flex:1;
    @include mix.flex($justify:start, $align:start, $direction:column, $gap: 25px);
    @include media.mob_horiz {align-items: center;}
    a {@extend %header_link_styles; white-space: nowrap;}
}


.footer_blocks_list {
    @include mix.flex($justify:space-between);
    margin-bottom: 60px;
    @include media.mob_horiz {
        margin-bottom: 40px;
        @include mix.flex($direction: column, $align: center, $gap: 40px);
    }
    @include media.mob_vertical {
        margin-bottom: 40px;
        @include mix.flex($direction: column, $align: start, $gap: 40px);
    }
}
.footer_blocks_item {flex: 1;}


.subscription {
    @include mix.flex($direction: column, $align:start, $gap: 10px);
    &_label {@include mix.body_font($color:$primary_color); white-space: nowrap; font-weight: 300;}
    &_input_wrap {
        @include mix.flex($justify: space-between);
        height: 40px;
        background-color: $primary_color;
        
        p {
            @include mix.body_font($size:$font_sm);
            margin-left: 20px;
            @include media.tablet {margin: 5px;}
        }
        input {
            @include mix.body_font($size:$font_sm);
            outline: none;
            border: none;
            min-width: 0;
            flex: 1;
            padding: 10px;
            @include media.tablet {padding: 5px 2px;}
        }
        button {
            height: 100%;
            width: 40px;
            border: none;
            cursor: $clicking_cursor;
        }
    }
}

.footer_bottom_links {
    @include mix.flex($direction:column, $gap: 15px);
    height: 100%;
    padding-top: 20px;
    @include media.mob_horiz {padding: 0; width: 100%; text-align: center;}
    @include media.mob_vertical {padding: 0; width: 100%; text-align: center;}
    a {
        @include mix.body_font($color:$primary_color);
        &:hover {text-decoration: none;}
        &:active {text-decoration: none; color:$descript_font_color;}
    }
}

.footer_empty_block {
    @include media.tablet {display: none;}
    @include media.mob_horiz {display: none;}
    @include media.mob_vertical {display: none;}
}


.footer_logo_wrap img{
    @include media.mob_horiz {
        display: block;
        margin: 0 auto 20px auto;
    }
    @include media.mob_vertical {
        display: block;
        margin: 0 auto 20px auto;
    }
}


.footer_bottom {
    @include mix.flex();
    p {@include mix.body_font($color:$primary_color); font-weight: 300;}
}