@use "../base/index" as *;

@mixin flex($direction:row, $justify:center, $align:center,$gap:0px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin grid($columns: 1fr 1fr, $rows: repeat(2, auto)) {
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin main_headliner($color:$primary_color, $size:$font_xxl) {
    color: $color;
    font-size: $size;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

@mixin section_head($size:$font_xxl, $color:$secondary_color) {
    font-size: $size;
    text-align: center;
    font-weight: 500;
    color: $color;
}

@mixin section_description($color:$secondary_color, $size:$font_xl, $line_height: 140%, $ff:$descript_font){
    color: $color;
    font-size: $size;
    line-height: $line_height;
    font-family: $ff;
    font-weight: 200;
}

@mixin product_name($color:$secondary_color, $size:$font_lg) {
    color: $color;
    font-size: $size;
}

@mixin body_font($color:$secondary_color, $size:$font_md) {
    color: $color;
    font-size: $size;
}

