@use "../base/index" as *;

@mixin flex($direction:row, $justify:center, $align:center,$gap:0px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin grid($columns: repeat(2, 1fr), $rows: repeat(2, auto), $gap: 20px) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $gap;
}

@mixin main_headliner($color:$primary_color, $size:$font_xxl) {
    color: $color;
    font-size: $size;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

@mixin section_head($size:$font_xxl, $color:$secondary_color) {
    font-size: $size;
    text-align: center;
    font-weight: 500;
    color: $color;
}


@mixin product_name($color:$secondary_color, $size:$font_lg, $line_height:140%) {
    color: $color;
    font-size: $size;
    line-height: $line_height;
    font-weight: 500;
}

@mixin body_font($color:$secondary_color, $size:$font_md, $ff:$descript_font) {
    color: $color;
    font-size: $size;
    font-family: $ff;
    line-height: $line_height;
}

@mixin section_description($color:$secondary_color, $size:$font_xl, $line_height: 140%, $ff:$descript_font){
    color: $color;
    font-size: $size;
    line-height: $line_height;
    font-family: $ff;
    font-weight: 200;
}

@mixin bg_styles {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

@mixin no_padd_block_mob {
    width: 100%;
    max-height: $no_padd_block_height;
    margin-bottom: $main_vertical_distance_mob;
    margin-top: $main_vertical_distance_mob;
}