@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;

.hero_section {
    @include mix.flex($direction:column);
    &_logo {img {margin: 25px auto;}}
}

.hero_section_block {
    @extend %no_padd_block;
    margin-top: 0;
    @include mix.flex($direction:column);
    background: url("../../../../images/Hero/hero.png");
    @include mix.bg_styles;
    @include media.mob_vertical {
        @include mix.no_padd_block_mob;
        margin-top: 0;
        padding: 15vw 11.5vw;
        background: url("../../../../images/Hero/hero_mob.png");
        @include mix.bg_styles;
    }
    @include media.mob_horiz {
        @include mix.no_padd_block_mob;
        margin-top: 0;
        padding: 15vw 11.5vw;
        background: url("../../../../images/Hero/hero_mob.png");
        @include mix.bg_styles;
    }
    &_content {
        @include mix.flex($direction:column, $gap: 30px);
        @include media.mob_vertical{gap: 60px;}
        @include media.mob_horiz{gap: 60px;}
    }
    &_content_top {
        position: relative;
        @include media.mob_vertical {
            width: 100%;
            height: 100%;
            padding: 20px 5px 30px 5px;
            border: 1px solid #edeaf425;
            &::before {
                content: '';
                inset: 0;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.15);
                backdrop-filter: blur(15px);
                -webkit-backdrop-filter: blur(15px);
                z-index:1;
            }
        }
        @include media.mob_horiz {
            width: 100%;
            height: 100%;
            padding: 20px 5px 30px 5px;
            border: 1px solid #edeaf425;
            &::before {
                content: '';
                inset: 0;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.15);
                backdrop-filter: blur(15px);
                -webkit-backdrop-filter: blur(15px);
                z-index:1;
            }
        }
        .main_headliner_primary { 
            z-index: 10;
            position: relative;
            margin-bottom: 16px;
            @include mix.main_headliner();
            @include media.mob_vertical{font-size: $font_xxl_h1_mob;}
            @include media.mob_horiz{font-size: clamp($font_xxl_h1_mob, 6vw, 2rem);}
        }
        .main_headliner_secondary{
            z-index: 10;
            position: relative;
            @include mix.section_head($size:$font_xl, $color:$primary_color);
            @include media.mob_vertical{font-size: $font_lg_mob;}
            @include media.mob_horiz{font-size: clamp($font_lg_mob, 2.5vw, $font_lg);}
        }
    }
    &_content_bottom {
        &_text{
            position: relative;
            z-index: 10;
            text-align: center;
            width: 300px;
            
            @include mix.section_description($size:16px, $color:$primary_color);
            @include media.mob_vertical{
                font-size: $font_md;
                border: 1px solid #edeaf425;
                &::before {
                    content: '';
                    inset: 0;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.15);
                    backdrop-filter: blur(15px);
                    -webkit-backdrop-filter: blur(15px);
                    z-index:-1;
                }
            }
            @include media.mob_horiz{
                border: 1px solid #edeaf425;
                font-size: $font_lg_mob;
                &::before {
                    content: '';
                    inset: 0;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.15);
                    backdrop-filter: blur(15px);
                    -webkit-backdrop-filter: blur(15px);
                    z-index:-1;
                }
            }
        }
        .hero_popover_set_button {
            @extend %button_styles;
            margin-bottom: 16px;
        }
    }
}