@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;


.discovery_section_set {
    @extend %padd_block;
    @include mix.flex($direction:column, $gap: $pad_2xl, $justify:space-between);
    @include media.mob_vertical{padding: $main_vertical_distance_mob $main_horiz_distance_mob;}
    &_headliner_top {
        @include mix.section_head;
        margin-bottom: $pad_xs;
        @include media.mob_horiz{font-size: clamp($font_xxl_mob, 5vw, 1.8rem);}
        @include media.mob_vertical{font-size: $font_xxl_mob;}
    }
    &_headliner_bottom {
        @include mix.product_name($size:$font_xl);
        text-align: center;
        @include media.laptop {max-width: 50%; margin: 0 auto;}
        @include media.tablet {max-width: 80%; margin: 0 auto;}
        @include media.mob_horiz{font-size: clamp($font_xl_mob, 3.3vw, $font_xl);}
        @include media.mob_vertical{font-size: $font_xl_mob;}
    }
    &_list {
        @include mix.flex($direction:column, $gap:$pad_lg);
        @include media.tablet {
            width: 100%;
        }
    }
    &_item_top, &_item_bottom {
        h4 {
            @include mix.product_name($color:$primary_color);
            padding: 6px 10px;
            background-color: $accent_color;
            margin-bottom: $pad_sm;
            display: inline-block;
            white-space: nowrap;
            @include media.mob_horiz{font-size: $font_xl_mob;}
            @include media.mob_vertical{font-size: $font_lg_mob;}
        }
    }
}

.discovery_section_set_item_top {
    width: 100%;
    img {width: 100%;}
    
}

.discovery_section_set_item_bottom_wrap {
    @include mix.flex($justify:space-between, $align:start, $gap:$pad_sm);
    img {width: 100%;}
}

.discovery_set_button {@extend %button_styles;}

@media (max-width: 600px) {
    .discovery_section_set_item_bottom_wrap {flex-wrap: wrap;}
    .set1, .set2, .set3 {flex-basis: 100%;}
}