@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;

.discovery_section_gallery {
    width: 100%;
    max-width: 1200px;
    @include mix.flex($justify:space-between, $align: stretch, $gap: 20px);
    margin: $main_vertical_distance 0;
    @include media.mob_horiz {margin: 80px 0; gap: 8px;}
    @include media.mob_vertical {margin: 80px 0; gap: 8px;}
    img {width: 100%;}
    &_item_wrap {
        @include mix.flex($direction:column, $justify:space-between, $gap: 10px);
        @include media.mob_horiz {gap: 0;}
        @include media.mob_vertical {gap: 0;}
    }
}