@forward "discovery_sets";
@forward "discovery_gifts";
@forward "discovery_gallery";
@forward "popover_set_window";

@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;


#set {@extend %section_size_prop;}
.discovery_section {
    @include mix.flex($direction:column);
}