@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;

.popover_set_window {
    position: fixed;
    inset: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    
}

.popover_set {
    @include mix.flex($direction:column, $gap: $pad_xs);
    min-width: 60%;
    // max-height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba($border_color, 0.25);
    padding: $pad_lg;
    @include media.mob_horiz {width: 80%; padding: 25px; top: 70%;}
    @include media.mob_vertical {width: 90%; padding: 15px; top: 65%;}
    h1 {
        @include mix.section_head($color:$primary_color); 
        z-index: 10;
        @include media.mob_horiz{font-size: $font_xxl_h1_mob;}
        @include media.mob_vertical{font-size: $font_xxl_h1_mob;}
    }
}


.popover_set::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: 5;
    background-color: rgba (0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}


.popover_set_window_close {
    z-index: 10;
    button {
        position: absolute;
        top: -20px;
        right: -60px;
        background: transparent;
        border: none;
        margin: 20px;
        cursor: $clicking_cursor;
        @include media.mob_horiz { right: -50px;}
        @include media.mob_vertical {top: -50px; right: -20px;}
    }
}

.popover_set_step {
    @include mix.body_font(); text-transform: uppercase; margin-bottom: 10px;
}

.popover_set_top {
    width: 100%;
    padding: 16px 20px;
    background-color: $primary_color;
    z-index: 10;
    @include media.mob_horiz{@include mix.flex($direction: column, $align: start, $gap: 20px);}
    @include media.mob_vertical{@include mix.flex($direction: column, $align: start, $gap: 20px);}
}

.form_radio {
    @include mix.flex($justify:start);
    @include media.mob_horiz{
        flex-direction: column;
        align-items: start;
        gap: $pad_sm;
    }@include media.mob_vertical{
        flex-direction: column;
        align-items: start;
        gap: $pad_sm;
    }
    label {
        margin-left: 8px;
        @include mix.body_font;
    }
    input {accent-color: $secondary_color; cursor: $clicking_cursor;}
    &_item {
        flex: 1;
    }
}


.popover_set_middle {
    width: 100%;
    padding: 16px 20px;
    background-color: $primary_color;
    @include mix.flex($direction:column, $align: start, $gap: $pad_xs);
    z-index: 10;
    position: relative;
    &_list {
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        position: relative;
        @include mix.flex($justify: space-evenly, $gap: $pad_xs);
        @include media.mob_horiz {
            flex-direction: column;
            min-height: 170px;
            .popover_item1 {top: 0; left:0; z-index: 20;}
            .popover_item2 {top: 0; right:0; z-index: 20;}
            .popover_item3 {top: 0; left:0; z-index: 15; opacity: 0;}
            .popover_item4 {top: 0; right:0; z-index: 15; opacity: 0;}
        }
        @include media.mob_vertical {
            flex-direction: column;
            min-height: 130px;
            .popover_item1 {top: 0; left:0; z-index: 20;}
            .popover_item2 {top: 0; right:0; z-index: 20;}
            .popover_item3 {top: 0; left:0; z-index: 15; opacity: 0;}
            .popover_item4 {top: 0; right:0; z-index: 15; opacity: 0;}
        }
    }
    &_item {
        flex: 0 0 calc(25% - 30px);
        max-height: 100%;
        @include mix.flex($direction:column, $align: center, $gap: 10px);
        @include media.mob_horiz {
            width: 48%;
            position: absolute;
            img {width: 90%}
        }@include media.mob_vertical {
            width: 48%;
            position: absolute;
            img {width: 90%}
        }
        p {
            @include mix.body_font; 
            text-align: center; 
            white-space: nowrap;
            @include media.mob_horiz {font-size: $font_xs;}
            @include media.mob_vertical {font-size: $font_xs;}
        }
        
    }
}

.popover_slider_arrow {
    position: absolute;
    top: -20%;
    right: 0%;
    cursor: $clicking_cursor;
    @include media.laptop {display: none;}
    @include media.tablet {display: none;}
}

@media (max-width: 768px) {
.popover_set_middle:hover .popover_item1 {animation: vanish 4s linear 2s forwards;}
.popover_set_middle:hover .popover_item2 {animation: vanish 4s linear 2s forwards;}
.popover_set_middle:hover .popover_item3 {animation: vanish 4s linear 6s forwards;}
.popover_set_middle:hover .popover_item4 {animation: vanish 4s linear 6s forwards;}
}

.products_amount {
    width: 100%;
    @include mix.flex($justify:end);
    &_part {
        min-width: 16px;
        height: 16px;
        border: 1px solid #edeaf4;
        @include mix.flex();
        @include mix.body_font($size:$font_sm); 
        text-align: center;
        @include media.mob_horiz {font-size: $font_xs; margin-right: 5%;}
        @include media.mob_vertical {font-size: $font_xs; margin-right: 5%;}
    }
    .more_less {cursor: $clicking_cursor;}
}

.popover_set_bottom_wrap {
    width: 100%;
    padding: 25px;
    z-index: 10;
    @include mix.flex($direction:column, $align: start, $gap: 25px);
    background-color: $primary_color;

}

.popover_set_bottom {
    @include mix.flex($align: baseline, $gap: $pad_lg);
    h3 {@include mix.product_name;}
    h4 {@include mix.body_font; margin-bottom: $pad_xs;}
    p {@include mix.body_font($size:$font_sm);}
}

.popover_set_bottom_link {
    @include mix.flex ;
    margin: 0 auto;
    a {@include mix.body_font;}
}

.two_set, .three_set, .four_set {display: none;}

.popover_set:has(#two:checked) .two_set {display: flex;}
.popover_set:has(#three:checked) .three_set {display: flex;}
.popover_set:has(#four:checked) .four_set {display: flex;}

