

@mixin laptop {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }  
}

@mixin mob_horiz {
    @media (min-width: 430px) and (max-width: 767px) {
        @content;
    }
}

@mixin mob_vertical {
    @media (max-width: 430px) {
        @content;
    }
}