@mixin laptop {
    @media (min-width: 1024) and (max-width: 1440){
        @content;
    }
}

@mixin tablet {
    @media (min-width: 769px) and (max-width: 1024px) {
        @content;
    }  
}

@mixin mob_horiz {
    @media (min-width: 430px) and (max-width: 768px) {
        @content;
    }
}

@mixin mob_vertical {
    @media (min-width: 320px) and (max-width: 430px) {
        @content;
    }
}