@forward "shipping_section";

@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;

#shipping {
    @extend %section_size_prop;
    &:target {animation: showup 3s ease 0.9s;}
}
.shipping_section_wrap {
    @include mix.flex($direction:column);
}