@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;


.contacts_section {
    @extend %padd_block;
    @include mix.flex($direction:column, $gap: 80px, $justify:space-between);
    @include media.mob_horiz{padding: $main_vertical_distance_mob $main_horiz_distance_mob;}
    @include media.mob_vertical{padding: $main_vertical_distance_mob $main_horiz_distance_mob;}
    &_headliner_top {
        @include mix.section_head;
        @include media.mob_horiz{font-size: clamp($font_xxl_mob, 5vw, 1.8rem);}
        @include media.mob_vertical{font-size: $font_xxl_mob;}
    }
    &_content {
        width: 100%;
        @include mix.flex($gap: 20px);
        @include media.tablet {flex-direction: column; gap: 60px;}
        @include media.mob_horiz {flex-direction: column; gap: 60px;}
        @include media.mob_vertical {flex-direction: column; gap: 60px;}
        &_image {
            flex-basis: 50%;
            overflow: hidden;
            @include media.tablet {width: 70%;}
            @include media.mob_horiz {width: 90%;}
            @include media.mob_vertical {width: 100%;}
            img {width: 100%;}
        }
        &_info {
            flex-basis: 50%;
            @include media.tablet {width: 70%;}
            @include media.mob_horiz {width: 80%;}
            @include media.mob_vertical {width: 100%;}
            @include mix.flex($direction:column, $align: start,  $justify: space-between);
            @include media.tablet{gap: 60px;}
            @include media.mob_horiz{gap: 60px;}
            @include media.mob_vertical{gap: 60px;}
        }
    }
}

.contacts_section_content_info_list {
    flex: 1;
    width: 100%;
    @include mix.flex($direction:column, $align:start,  $gap: 16px);

}

.contacts_section_content_info_item {
    @include mix.flex($justify: start, $gap: 16px);
    h4 {
        @include mix.product_name;
        @include media.mob_horiz{font-size: clamp($font_lg_mob, 3.3vw, $font_xl_mob);}
        @include media.mob_vertical{font-size: $font_lg_mob;}
    }
}

.contacts_section_info_map {
    width: 100%;
    a {
        display: block;
        @include mix.body_font;
        margin-bottom: 10px;
        text-align: right;
    }
    iframe{width: 100%;}
}