@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;


.contacts_section {
    @extend %padd_block;
    @include mix.flex($direction:column, $gap: 80px, $justify:space-between);
    &_headliner_top {
        @include mix.section_head;
    }
    &_content {
        width: 100%;
        height: 440px;
        @include mix.flex($gap: 20px);
        &_image {
            flex: 1;
        }
        &_info {
            flex: 1;
            height: 100%;
            @include mix.flex($direction:column, $justify: space-between);
        }
    }
}

.contacts_section_content_info_list {
    flex: 1;
    width: 100%;
    @include mix.flex($direction:column, $align:start,  $gap: 16px);
}

.contacts_section_content_info_item {
    @include mix.flex($justify: start, $gap: 16px);
    h4 {@include mix.product_name};
}

.contacts_section_info_map {
    a {
        display: block;
        @include mix.body_font;
        margin-bottom: 10px;
        text-align: right;
    }
}