@forward "contacts";

@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;

#contacts {
    @extend %section_size_prop;
    &:target {animation: showup 3s ease 1s;}
}
.contacts_section_wrap {
    @include mix.flex($direction:column);
}