@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;

.about_section_philosophy {
    @extend %no_padd_block;
    @include mix.flex();
    background: url("../../../../images/About/item3.png");
    @include mix.bg_styles;
}

.philosophy_content_box {
    @include mix.flex($direction:column, $justify:space-between, $gap:$pad_sm);
    min-height: 80%;
    max-height: 90%;
    width: 40%;
    @include media.tablet{width: 60%;}
    @include media.mob_horiz{width: 80%;}
    @include media.mob_vertical{width: 90%;}
    &_headliner {
        border: 1px solid $primary_color;
        background-color: $accent_color;
        width: 100%;
        padding: $pad_xs;
        text-align: center;
        h3 {
            @include mix.product_name($color:$primary_color, $size:$font_xl);
            @include media.mob_vertical{font-size: $font_xl_mob;}
        }
    }
    &_text {
        position: relative;
        flex: 1;
        border: 1px solid rgba($glass_bg, 0.25);
        width: 100%;
        padding: $pad_lg;
        @include mix.flex($direction:column, $justify:space-between, $gap: 25px);
        overflow: hidden;
        @include media.mob_vertical{padding: 15px; gap: 15px;}
        .logo {width: 105px; height: 25px; z-index: 10;}
        .line {z-index: 10; width: 80%;}
        p {
            @include mix.body_font($color:$primary_color);
            text-align: center;
            letter-spacing: $letter_spac;
            font-weight: 200;
            z-index: 10;
        }
    }
}

.philosophy_content_box_text::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
} 