@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../media/index" as media;

.about_section_benefits {
    @extend %padd_block;
    @include mix.flex($direction:column, $gap: $pad_2xl);
    @include media.tablet{padding: clamp(70px, 9vw, 110px) clamp(70px, 9vw, 110px);}
    @include media.mob_horiz{padding: $main_vertical_distance_mob $main_horiz_distance_mob;}
    @include media.mob_vertical{padding: $main_vertical_distance_mob $main_horiz_distance_mob;}
    &_headliner h1 {
        @include mix.section_head;
        @include media.mob_horiz{font-size: clamp($font_xxl_mob, 4.6vw, 1.8rem);}
        @include media.mob_vertical{font-size: $font_xxl_mob;}
    }
    &_content {
        width: 100%;
        &_list {
            width: 100%;
            @include mix.flex($justify:space-between, $align: start, $gap: 1.67vw);
            @include media.mob_horiz {flex-wrap: wrap; justify-content: space-evenly; gap: $pad_sm;}
            @include media.mob_vertical {flex-wrap: wrap; justify-content: space-evenly; gap: $pad_xl;}
        }
        &_item {
            flex: 1;
            @include mix.flex($direction: column, $gap: $pad_lg);
            @include media.mob_horiz {flex: 0 0 40%;}
            @include media.mob_vertical {flex: 0 0 90%;}
            img {width: 60px; height: 60px;}
            h4 {
                @include mix.product_name(); 
                text-align: center;
                @include media.mob_horiz{font-size: clamp($font_lg_mob, 2.3vw, $font_lg);}
                @include media.mob_vertical{font-size: $font_lg_mob;}
            }
        }
    }
}