@forward "about_intro";
@forward "about_philosophy";
@forward "about_benefits";



@use "../../../base/index" as *;
@use "../../../mixins/index" as mix;
@use "../../../placeholders/index" as place;
@use "../../../animations/index" as *;




#about {
    @extend %section_size_prop;
    &:target {animation: showup 3s ease;}
}
.about_section {
    @include mix.flex($direction:column);
}