@use "root" as *;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {scroll-behavior: smooth;}

.site_wrapper {
    height: 100vh;
    width: 100%;
    font-family: $titles_font;
}

