@use "root" as *;

%button_styles{
    width: 300px;
    height: 60px;
    border: none;
    background-color: $secondary_color;
    color: $primary_color;
    font-size: $font_lg;
    letter-spacing: $letter_spac;
    font-family: $titles_font;
    text-transform: uppercase;
    cursor: $clicking_cursor;
}

%button_styles_mob{
    width: 300px;
    height: 60px;
    border: none;
    background-color: $secondary_color;
    color: $primary_color;
    font-size: $font_lg_mob;
    letter-spacing: $letter_spac;
    font-family: $titles_font;
    text-transform: uppercase;
    cursor: $clicking_cursor;
}

%no_padd_block {
    width: 100%;
    height: $no_padd_block_height;
}

