$primary_color: #ffffff;
$secondary_color: #4d4a99;
$accent_color: #bbb0ce;
$border_color: #edeaf4;
$glass_bg: #848484;
$descript_font_color: #303030;

$main_horiz_distance: 130px;
$main_vertical_distance: 90px;

$no_padd_block_height: 560px;

$titles_font: "Romanovsky W08 Regular";
$descript_font: "Raleway";

$clicking_cursor: pointer;

$line_height: 140%;
$letter_spac: 0.06em;

$font_xs: 10px;
$font_sm: 12px;
$font_md: 14px;
$font_lg: 20px;
$font_xl: 24px;
$font_xxl: 48px;


$font_lg_mob: 16px;
$font_xl_mob: 18px;
$font_xxl_mob: 24px;
$font_xxl_h1_mob: 28px;
