$primary_color: #ffffff;
$secondary_color: #4d4a99;
$accent_color: #bbb0ce;
$border_color: #edeaf4;
$glass_bg: #848484;
$descript_font_color: #303030;

$main_horiz_distance: 10.8vw;
$main_horiz_distance_mob: 11.5vw;
$main_vertical_distance: 7.5vw;
$main_vertical_distance_mob: 20.5vw;

$no_padd_block_height: 560px;

$titles_font: "Romanovsky W08 Regular";
$descript_font: "Raleway";

$clicking_cursor: pointer;

$line_height: 140%;
$letter_spac: 0.06em;

$main_size: 20px;

$font_xs: 0.5rem;
$font_sm: 0.6rem;
$font_md: 0.7rem;
$font_lg: 1rem;
$font_xl: 1.2rem;
$font_xxl: 2.4rem;

$font_lg_mob: 0.8rem;
$font_xl_mob: 0.9rem;
$font_xxl_mob: 1.2rem;
$font_xxl_h1_mob: 1.4rem;

$pad_xs: 8px;
$pad_sm: 20px;
$pad_md: 30px;
$pad_lg: 40px;
$pad_xl: 80px;
$pad_2xl: 90px;
$pad_3xl: 130px;